body {
    cursor: url("images/chrys.png"), auto;
}

#france {
    margin: auto;
    min-width: 40vw;
    max-width: 40vw;
}

img {
    width: 100%;
}

#britain {
    position: absolute;
    top: 12.5vw;
    left: 33vw
}

#south {
    position: absolute;
    top: 29vw;
    left: 55vw;
}

#yannick:hover {
    cursor: url("images/yannick.png"), auto;
}

#kevin:hover {
    cursor: url("images/kevin.png"), auto;
}